/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
 
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#ffe5ec,#fb6f92) ;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.tree-node {
  margin-left: 20px;
  border-left: 2px ;
  padding-left: 10px;
  margin-bottom: 5px;
}
 
.node-content {
  display: flex;
  align-items: center;
}
 
button {
  margin-right: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
 
.child-taken {
  margin-left: 20px;
}
 
.cchild-taken {
  margin-left: 40px;
} 